@import '../../GlobalStyles/variables';

main[data-theme='dark'] {
  .card {
    img {
      background-color: map-get($dark, pokemon-card-background);
      border: 1px solid map-get($dark, pokemon-card-border);
    }
  }
}

main[data-theme='light'] {
  .card {
    img {
      background-color: map-get($light, pokemon-card-background);
      border: 1px solid map-get($light, pokemon-card-border);
    }
  }
}

.card {
  width: 150px;
  grid-area: 'card';
  a {
    text-decoration: none;
    color: inherit;
  }

  img {
    width: 100%;
    border-radius: 10px;
  }

  h3 {
    font-size: 1.5em;
    text-align: center;
  }
}
