@import '../../GlobalStyles/variables';

[data-theme='dark'] {
  .image {
    background-color: map-get($dark, pokemon-card-background);
    border: 1px solid map-get($dark, pokemon-card-border);
  }
}

[data-theme='light'] {
  .image {
    background-color: map-get($light, pokemon-card-background);
    border: 1px solid map-get($light, pokemon-card-border);
  }
}

.card {
  width: 150px;
  grid-area: 'card';
  border-radius: 10px;

  a {
    text-decoration: none;
    color: inherit;
  }

  h3 {
    font-size: 1.5em;
    text-align: center;
  }
}

.image {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  position: relative;

  > img {
    width: 100%;

    &:hover {
      transform: scale(1.08);
    }
  }
}
