[data-theme='dark'] {
  .button {
    color: white;
  }
}

.button {
  height: 50px;
  width: 50px;
  background-color: transparent;
  cursor: pointer;

  img {
    width: inherit;
    height: inherit;
  }
}
