@import '../../GlobalStyles/variables';

[data-theme='dark'] {
  .filter_region_list {
    color: map-get($dark, font-color);
  }
}

[data-theme='light'] {
  .filter_region_list {
    color: map-get($light, font-color);
  }
}

.filter_parameter_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;

  span {
    background-color: transparent;
    color: inherit;
    margin: 10px 20px;

    button {
      background-color: transparent;
      color: inherit;
      font-size: 1.2em;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
        transform: scale(1.05);
      }

      &:active {
        text-decoration: underline;
        transform: scale(1.05);
      }
    }
  }
}
