$dark: (
  primary-header-h1: #1069a6,
  secondary-header-h1: black,
  main-background: #292929,
  header-background: #dc0a2d,
  pokemon-card-background: #2b2b2b,
  pokemon-card-border: #1069a6,
  pokemon-card-button-background: #636363,
  filter-border-bottom: #dc0a2d,
  reset-filter-button-color: #b4b4b4,
  reset-filter-button-background: #dc0a2d,
  search-border: #dc0a2d,
  search-background: #636363,
  font-color: #e4e4e4,
  loader-primary: #636363,
  loader-secondary: #dc0a2d,
  details-containers-background: #313131,
  details-h3-color: #1069a6,
  details-span-color: #b61f38,
  details-sub-div-color: #b61f38be,
  details-sub-div-background: #2b2b2b,
);

$light: (
  primary-header-h1: #dc0a2d,
  secondary-header-h1: #e4e4e4,
  main-background: #e4e4e4,
  header-background: #1069a6,
  pokemon-card-background: #e2e2e2,
  pokemon-card-border: #dc0a2d,
  pokemon-card-button-background: #b4b4b4,
  filter-border-bottom: #1069a6,
  reset-filter-button-color: #e2e2e2,
  reset-filter-button-background: #1069a6,
  search-border: #1069a6,
  search-background: #b4b4b4,
  font-color: #292929,
  loader-primary: #b4b4b4,
  loader-secondary: #1069a6,
  details-containers-background: #d4d3d3,
  details-h3-color: #dc0a2d,
  details-span-color: #0077c7,
  details-sub-div-color: #0077c7,
  details-sub-div-background: #e2e2e2,
);
