$dark: (
  main-background: #292929,
  header-background: #a57d05,
  pokemon-card-background: #2b2b2b,
  pokemon-card-border: rgb(50, 50, 50),
  pokemon-card-button-background: #636363,
  filter-border-bottom: #a57d05,
  font-color: #e4e4e4,
);

$light: (
  main-background: #e4e4e4,
  header-background: #c4c2da,
  pokemon-card-background: #e2e2e2,
  pokemon-card-border: #d7d7d7,
  pokemon-card-button-background: #b4b4b4,
  filter-border-bottom: #c4c2da,
  font-color: #292929,
);

$colors: (
  primary-header-h1: #f7cd0f,
  secondary-header-h1: #3558a8,
);
