.filter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  min-height: 50px;
  max-height: 100px;
  margin-bottom: 50px;
  border-radius: 20px;
  padding: 15px;

  background-color: black;
}

.filter {
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50%;
  }
}
