@import '../../GlobalStyles/variables';

[data-theme='dark'] {
  .filter {
    nav {
      border-bottom: 1px solid map-get($dark, filter-border-bottom);
    }
  }
}

[data-theme='light'] {
  .filter {
    nav {
      border-bottom: 1px solid map-get($light, filter-border-bottom);
    }
  }
}

.filter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  min-height: 50px;
  margin-bottom: 50px;
  padding: 15px;

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50%;
    margin-bottom: 15px;
  }
}
