@import '../../GlobalStyles/variables';

[data-theme='dark'] {
  .filter_button_container {
    color: map-get($dark, font-color);
  }
}

[data-theme='light'] {
  .filter_button_container {
    color: map-get($light, font-color);
  }
}

.filter_button_container {
  margin: 10px;

  button {
    background-color: transparent;
    font-size: 1.3em;
    font-weight: 600;
    color: inherit;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      transform: scale(1.05);
    }

    &:active {
      text-decoration: underline;
      transform: scale(1.05);
    }
  }
}
